<div class="card my-3">
  <div class="card-body">
    <p>Name: {{ user.name }}</p>
    <p>Surname: {{ user.surname }}</p>
    <p>Patronymic: {{ user.patronymic }}</p>
    <p>Phone number: {{ user.phoneNumber }}</p>
    <p>Place of work/study: {{ user.placeOfWorkStudy }}</p>
    <p>T-Shirt option: {{ user.TShirt }}</p>
    <p>Size: {{ user.size }}</p>
    <p>Description: {{ user.description }}</p>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <button class="btn btn-danger" (click)="remove()">delete</button>
    <button class="btn btn-secondary mx-2">edit</button>
  </div>
</div>
