<div class="card my-3">
  <div class="card-body">
    <p>Name: {{ user.name }}</p>
    <p>Surname: {{ user.surname }}</p>
    <p>Patronymic: {{ user.patronymic }}</p>
    <p>Phone number: {{ user.phoneNumber }}</p>
    <p>Place of work/study: {{ user.placeOfWorkStudy }}</p>
    <p>T-Shirt option: {{ user.TShirt }}</p>
    <p>Size: {{ user.size }}</p>
    <p>Description: {{ user.description }}</p>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <button class="btn btn-danger" type="button" [disabled]="isRemoving" (click)="remove()">
      <span *ngIf="isRemoving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span *ngIf="!isRemoving">delete</span></button>
    <a class="btn btn-secondary mx-2" [routerLink]="['users', user.id, 'edit']">edit</a>
  </div>
</div>
